<footer
class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
id="sec-1e54"
>
<div class="u-clearfix u-sheet u-sheet-1">
  <p class="u-small-text u-text u-text-variant u-text-1">
    Made by
    <a
      href="https://berkaykocak.com"
      class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-3-light-1 u-btn-1"
      target="_blank"
      >Berkay Kocak</a
    >
  </p>
</div>
</footer>